<form>
	<h3>Producto [[_id]]</h3>
	<p>
		<label>Producto:</label>
		<input ng-model="obj.producto">
	</p>
	<p>
		<label>Precio:</label>
		<input ng-model="obj.precio">
	</p>
	<p>
		<label>Descripción:</label>
		<textarea ng-model="obj.descripcion"></textarea>
	</p>
	<div class="tool">
		<button ng-click="crear()">Nuevo</button>
		<button ng-click="action()" class="active">[[action_name]]</button>
		<button ng-click="clear()">Limpiar</button>
	</div>
</form>
<h3>Lista de productos</h3>
<div class="tool">
	<button ng-click="borrar()">Eliminar</button>
</div>
<table>
	<thead>
		<tr>
			<th width="10%">
				<input type="checkbox" ng-click="ckeck_delete_all()" value="1">
			</th>
			<th>Producto</th>
			<th>Precio</th>
			<th width="10%"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="p in data.results">
			<td>
				<input type="checkbox" ng-click="ckeck_delete()" value="[[p.id]]">
			</td>
			<td>[[p.producto]]</td>
			<td>$[[p.precio]]</td>
			<td>
				<button ng-click="editar(p)">Editar</button>
			</td>
		</tr>
	</tbody>
</table>
<p>
	Mostrando [[data.results.length]] de [[data.count]] 
</p>
<div class="tool">
	<button ng-click="prev()">Anterior</button>
	<button ng-click="next()">Siguiente</button>	
</div>
