<style type="text/css">
	table{
		border: solid 1px #000;
		font-size:13px;
	}
	td, th{
		padding: 5px;
		text-align: center;
	}
	#total{
		text-align: right;
	}
</style>
<table>
	<tr>
		<th>Diferencia promedio:</th>
		<td>{{reporte.0}}</td>
	</tr>
	<tr>
		<th>Diferencia maxima:</th>
		<td>{{reporte.1}}</td>
	</tr>
	<tr>
		<th>Diferencia minima:</th>
		<td>{{reporte.2}}</td>
	</tr>
	<tr>
		<th>Numero de compras:</th>
		<td>{{reporte.3}}</td>
	</tr>
	<tr>
		<th>Ganancias:</th>
		<td>{{reporte.4}}</td>
	</tr>
	<tr>
		<th>Compras promedio por minuto:</th>
		<td>{{prom}}</td>
	</tr>
</table>